body{
    display: flex;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

main{
    order: 2;
    flex:1 100%;
    padding:5px;
}

header{
    order: 1;
    position: sticky;
    max-width: 100%;
    height: 20px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    vertical-align: middle;
    padding: 10px;
    top: 0px;
    left: 0px;
 }
 header #logo img{
     height: 20px;
 }

 header container{
     display:flex;
     flex-flow:row;
     justify-content: space-between;
 }

 header container nav{
     cursor:pointer;
 }

 header container nav ul{
    padding-inline-start: 0px;
    list-style: none;
    background-color: white;
    color: rgb(58, 57, 57);
    margin-block-start: 0px;
    font-size: 1.1rem;
    margin-top: 2px;
    position: absolute;
    padding:10px;
    display: none;
    width:85%;
    padding:20px;
 }

 header container nav #closeMenu{
    position: absolute;
    right: 7px;
    color: red;
    font-weight: bolder;
    font-size: 1.2rem;
 }

 header container nav ul li a{
     text-decoration: none;
 }

 header container nav ul li a:hover{color:rgb(58,57,57);}
 header container nav ul li a:link{color:rgb(58,57,57);}
 header container nav ul li a:visited{color:rgb(58,57,57);}
 header container nav ul li a:active{color:rgb(58,57,57);}

header container #cartBadge{
    position: absolute;
    right: 15px;
    font-weight: bolder;
    top: 1px;
    font-size: 0.9rem;
    background-color: orange;
    border-radius: 5px;
    color: white;
    padding: 2px;
    display: none;
}

footer{
    order: 3;
    flex: 1 100%;
    padding-top: 2px;
    font-size: 0.7rem;
    background-color: coral;
    padding: 7px 0 7px 0;
    text-align: center;
    color: white;
}

#catalogShadow{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}



