body{
    display: flex;
    flex-flow: column;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
}

main{
    order: 2;
    flex: 1 100%;
    padding: 5px;
    position: relative;
    min-height: 91vh;
}

header{
    order: 1;
    position: sticky;
    max-width: 100%;
    height: 30px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    vertical-align: middle;
    padding: 10px;
    top: 0px;
    left: 0px;
    z-index:20;
 }

 header #logo img{
     height: 20px;
 }

 header container{
     display:flex;
     flex-flow:row;
     justify-content: space-between;
 }

 header container nav{
     cursor:pointer;
 }

footer{
    order: 3;
    flex: 1 100%;
    padding-top: 2px;
    font-size: 0.7rem;
    background-color: #e49400;
    padding: 7px 0 7px 0;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 97%;
}

#greyArea{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:rgba(0,0,0,0.75);
    min-height: 100%;
    min-width: 100%;
    z-index:1;
    display:none;
}

section{
    display: block;
    padding-bottom: 17px;
}

.modal{
    position: absolute;
    width: 33vh;
    min-height: 50vh;
    top: 12vh;
    left: 10vh;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    z-index: 20;
    align-content: unset;
}

.modal .alertImage{
    flex: 1;
    padding: 40px;
    text-align: center;
}

.modal .modalText{
    flex: 1;
    padding: 40px;
    text-align: center;
}

.modal .actionButtons{
    display: flex;
    flex-flow: row;
    text-align: center;
    padding: 40px;
}

.modal .actionButtons .actionButtonYes{
    flex:1;
}

.modal .actionButtons .actionButtonNo{
    flex:1;
}

.modal .actionButtons .actionButtonOk   {
    flex:1;
}



