header container nav#mainMenu{
    position: absolute;
    width: 80%;
    background-color: #fffbe8;
    font-size: 0.9rem;
    padding: 11px;
    color: black;
    left: 10px;
    top: 41px;
    border-radius: 5px;
    text-align: left;
    display: none;
    z-index: 10;
 }

 header container nav#mainMenu ul{
     list-style: none;
     padding-inline-start:0px;
 }

 header container nav#mainMenu li{
    padding: 10px 5px 0 0;
    font-weight: bolder;
    font-size: 1.1rem;
}

 header container nav#mainMenu #closeMenu{
    position: absolute;
    right: 7px;
    top: 7px;
    color: red;
    font-weight: bolder;
    font-size: 1.2rem;
 }

 header container nav#mainMenu li a{
     text-decoration: none;
 }

 header container nav#mainMenu li a:hover{color:rgb(58,57,57);}
 header container nav#mainMenu li a:link{color:rgb(58,57,57);}
 header container nav#mainMenu li a:visited{color:rgb(58,57,57);}
 header container nav#mainMenu li a:active{color:rgb(58,57,57);}