#storeItemsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.storeItemsRow{
    display: flex;
    flex-flow: column;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 10px;
    padding: 10px;
    width: 87%;
    margin-bottom: 4px;
    justify-self: stretch;
}

.storeItemsColumn{
    flex: 1 100%;
}

.storeItemImageColumn{
    height: 100px;
    text-align: center;
}

.storeItemImageColumn img{
    max-width: 100%;
    max-height: 100%;
    order:1;
    
}

.storeItemNameColumn{
    order:3;
    padding:5px;
    color:rgb(104, 104, 104);
}

.storeItemIdColumn{
    order:6;
    padding:5px;
    font-size: 0.8rem;
}

.storeItemPriceColumn{
    order:2;
    color:rgb(1, 83, 1);
    font-weight: bolder;
    padding:5px;
}

.storeItemQtyOnHandColumn{
    order:4;
    padding:5px;
}

.storeItemMaxPerCustomerColumn{
    order:5;
    padding: 5px;

}

.storeItemAddToCartContainerColumn{
    display:flex;
    flex-flow: row;
    order:6;
    padding: 5px;
    justify-content: space-between;
}

.storeItemAddToCartColumn{
    background-color: #e49400;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    order:1;

}

.storeItemAddAmountToCartColumn{
    order:3;
    
}

.storeItemSubtractAmountFromCartColumn{
    order:4;
    
}

.storeItemAmountToCartColumn{
    order:2;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bolder;
}

.overlimit{
    background-color:#ffe7c5;
    border:1px solid #ccc;
    border-radius:10px;
}